# User-specific files
*.user*
*.env*
.env
.env.user
*.terraform
*.tfplan
*.tfstate
*.tfvars
.terraform.lock.hcl
*terraform.tfstate.backup
*.terraformrc
.env.user
.env
.env
.env.user
*.csv
*.pem
terraformer.exe
project*
.DS_Store